@tailwind base;
@tailwind components;
@tailwind utilities;



.Navmenu .active {
  color: #dc9a7e;
}
.productCatalogue:hover .catalogueTitle{
  background-color: #dc9a7e;
  transition: .3s ease-in-out;
}

.dashboardMenu .active{
  color: #dc9a7e;
}


@keyframes borderAnimation {
  0% {
    border-image: linear-gradient(to right, #07113A) 3;
  }

  25% {
    border-image: linear-gradient(to top, #f7f0f0, #07113A) 3;
  }

  50% {
    border-image: linear-gradient(to top, #f7f0f0) 3;
  }
  75% {
    border-image: linear-gradient(to top, #07113A, #f7f0f0) 3;
  }

  100% {
    border-image: linear-gradient(to left, #f7f0f0, #07113A) 3;
  }
}

.animation-border {
  animation: borderAnimation 8s infinite;
  transition: .5s;
}