@tailwind base;
@tailwind components;
@tailwind utilities;



.Navmenu .active {
  color: #00b584;
}
.productCatalogue:hover .catalogueTitle{
  background-color: #00b584;
  transition: .3s ease-in-out;
}


@keyframes borderAnimation {
  0% {
    border-image: linear-gradient(to right, #042E24, #00b584) 3;
  }

  25% {
    border-image: linear-gradient(to top, #00b584, #f7f0f0, #042E24) 3;
  }

  50% {
    border-image: linear-gradient(to top, #00b584, #f7f0f0, #00b584) 3;
  }
  75% {
    border-image: linear-gradient(to top, #042E24, #f7f0f0, #00b584) 3;
  }

  100% {
    border-image: linear-gradient(to left, #f7f0f0, #042E24, #00b584) 3;
  }
}

.animation-border {
  animation: borderAnimation 3s infinite;
  transition: .5s;
}